@media (max-width: 1440px){
  .container{
    max-width: 823px;
  }

  .header-logo__block{
    display: block;
    background-color: #F2F2F2;
    height: 60px;
  }

  .header-logo__con{
    max-width: 824px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    /*padding: 23px 0;*/
  }

  .header-logo__logo{
    width: 112px;
    height: 14px;
    padding-left: 5.5px;
  }

  .header__logo{
    display: none;
  }

  .header__nav{
    width: 77%;
  }

  .header__12{
    display: none;
  }

  .header-bot__nav{
    width: 60%;
  }

  .header-bot__earlier{
    width: 149px;
  }

  .hero__row{
    background-size: 256px 270px;
    padding: 90px 0;
  }

  .hero__left-block{
    width: 65%;
  }

  .hero__title{
    margin-bottom: 16px;
  }

  .hero__descr{
    margin-bottom: 20px;
  }

  .more__auditions{
    width: 79%;
  }

  .podcast__play{
    top: 29%;
    right: 10%;
  }

  .podcast__pause{
    top: 29%;
    right: 10%;
  }

  .broadcast__list{
    padding-top: 11px;
  }

  .broadcast__item:nth-child(2n){
    margin-right: 0;
  }

  .broadcast__item:nth-child(odd){
    margin-right: 28px;
  }

  .broadcast__item-block{
    padding: 25px 0 20px 14px;
  }

  .broadcast__left-block{
    height: 562px
  }

  #guests{
    padding-bottom: 97px;
  }

  .guests__left{
    width: 539px;
  }

  .guests__s-list{
    height: 204px !important;
  }

  .guests__s-item{
    height: 144px;
  }

  .guests__vs-list{
    display: flex;
    flex-wrap: wrap;
  }

  .guests__vs-item:not(:nth-child(4n)){
    margin-bottom: 0;
  }

  .guests__vs-item{
    display: flex;
    margin-bottom: 0;
  }

  .guests__vs-item:not(:nth-child(5n)){
    margin-bottom: 16px;
  }

  .guests__link{
    text-align: left;
  }

  .guests__right-block{
    width: 255px;
  }

  .playlist__container{
    position: relative;
    flex-wrap: wrap;
  }

  .playlist__play-btn{
    top: 27%;
    right: 69%;
  }

  .playlist__blog{
    border-bottom: none;
    padding: 0;
    margin-bottom: 19px;
  }

  .playlist__left-block{
    margin-right: 0;
    width: 100%;
  }

  .playlist__list-box{
    display: flex;
    height: 158px;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .playlist__item-box:nth-child(4){
    margin-bottom: 0;
  }

  .playlist__18{
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #D2D5DD;
  }

  .playlist__list{
    padding-bottom: 164px;
  }

  .playlist__item{
    height: 112px;
    margin-right: 28px;
  }

  .playlist__item:not(:nth-child(4n)){
    margin-right: 28px;
  }

  .playlist__item:nth-child(3n){
    margin-right: 0;
  }

  .playlist__content{
    display: flex;
  }

  .playlist__content img{
    width: 112px;
    height: 112px;
  }

  .playlist__item-block{
    width: 143px;
    padding: 40px 0 40px 10px;
    border-top: 1px solid #E6E8EC;
  }

  #radio{
    padding-bottom: 115px;
  }

  .radio__img{
    width: 427px;
    margin-right: 0;
    background-size: 94%;
    background-position: left center;
  }

  .radio__img img{
    width: 23%;
    padding-top: 116px;
  }

  .radio__block{
    width: 395px;
  }

  .we__figure-one{
    display: none;
  }

  .we__text-block{
    width: 539px;
  }

  .we__mid-block{
    width: 956px;
    margin-bottom: 38px;
  }

  .swiper-button-prev{
    top: 38%;
  }

  .swiper-button-next{
    top: 38%;
  }

  .we__content{
    width: 824px;
  }

  .we__item img{
    width: 100%;
    height: 255px;
  }

  .we__label textarea{
    width: 824px;
  }

  .we__form input{
    width: 395px;
  }
}

@media (max-width: 1023px){
  .container{
    max-width: 540px;
  }

  #header{
    position: relative;
  }

  .header-logo__con{
    max-width: 540px;
  }

  .header__top-block{
    position: static;
  }

  .header__nav{
    position: absolute;
    left: 0;
    top: 60px;
    min-width: 100%;
    height: 400px;
    z-index: 2000;
    padding: 106px;
    box-shadow: 0 0 5px #888;
    background-color: #D2D5DD;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-128%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    justify-content: flex-start;
    padding-left: 114px;
    padding-right: 114px;
  }

  .header__nav--active{
    visibility: visible;
    transform: none;
  }

  .burger{
    position: relative;
    display: block;
  }

  .burger--active{
    z-index: 3000;
  }

  .burger:hover{

  }

  .burger--active
  .burger__line:nth-child(2){
    position: absolute;
    display: none;
  }

  .burger--active
  .burger__line:first-child{
    transform: rotate(45deg) translateY(-14px);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child{
    transform: rotate(-45deg) translateY(14px);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .stop--scroll{
    overflow: hidden;
  }

  .burger__line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    border-radius: 10px;
    background-color: #6D31EE;
  }

  .burger__line:nth-child(1){
    top: 7px;
    transform: translateY(50%);
  }

  .burger__line:nth-child(3){
    bottom: 10px;
    transform: translateY(50%);
  }

  .burger__line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }

  .header__list{
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .header__item:not(:nth-child(3n)){
    margin-bottom: 64px;
  }

  .header__item:last-child{
    margin-bottom: 82px;
  }

  .header__nav-zav1{
    position: absolute;
    bottom: 0;
    right: 32%;
    background-image: url('../img/zav1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 112px;
    height: 305px;
    margin-right: 30px;
  }

  .header__nav-zav2{
    position: absolute;
    top: 0;
    right: 17.5%;
    background-image: url('../img/zav2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 112px;
    height: 100%;
  }

  .header-bot__earlier{
    display: none;
  }

  .header-bot__svg-play{
    display: block;
  }

  .header-bot__nav{
    width: 100%;
    margin-right: 24px;
  }

  .header__block{
    position: relative;
  }

  .header__enter-block{
    position: absolute;
    top: -20px;
    width: 540px;
    height: 655px;
    padding: 60px 40px;
    margin: 0 auto;
  }

  .header__form input{
    width: 460px;
    height: 70px;
    margin-right: 0;
  }

  .hero__row{
    background-image: none;
  }

  .hero__left-block{
    width: 100%;
  }

  .podcast__item{
    width: 100%;
    margin-right: 0;
  }

  .podcast__item:nth-child(odd){
    margin-right: 0;
  }

  .podcast__play{
    right: 7%;
  }

  .podcast__pause{
    right: 7%;
  }

  .more__auditions{
    width: 52%;
  }

  #broadcast{
    padding-bottom: 30px;
  }

  .broadcast__blog{
    position: relative;
    flex-wrap: wrap;
  }

  .broadcast__left-block{
    width: 100%;
    height: 100%;
    margin-bottom: 27px;
  }

  .broadcast__archive{
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #E6E8EC;
    padding-top: 30px;
    justify-content: center;
    align-content: flex-start;
    height: 127px;
    width: 100%;
    background-position: 21% 100%;
    background-size: 70px 96px;
  }

  .broadcast__descr-first{
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 255px;
  }

  .broadcast__right-block{
    padding-bottom: 188px;
  }

  #guests{
    padding-bottom: 107px;
  }

  .guests__block-top{
    max-width: 100%;
  }

  .guests__bot-block{
    position: relative;
    padding-bottom: 550px;
  }

  .guests__left{
    margin-right: 0;
  }

  .guests__right-block{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
  }

  .guests__s-list{
    height: 260px !important;
  }

  .guests__s-item{
    height: 100%;
  }

  .guests__vs-item:not(:nth-child(5n)){
    margin-bottom: 30px;
  }

  .guests__right-block img{
    margin-bottom: 8px;
  }

  .guests__meta{
    margin-right: 26px;
  }

  .guests__inst{
    margin-right: 26px;
  }

  .guests__name-descr{
    width: 400px;
  }

  .playlist{
    padding-bottom: 91px;
  }

  .playlist__list-box{
    height: 200px;
    width: 100%;
  }

  .playlist__item-box:not(:nth-child(4n)){
    margin-bottom: 40px;
  }

  .playlist__blog{
    margin-bottom: 55px;
  }

  .playlist__list{
    padding-top: 0;
    padding-bottom: 186px;
  }

  .playlist__list .playlist__item{
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .playlist__item:nth-child(2n){
    margin-right: 0;
  }

  .playlist__item:nth-child(11n){
    margin-bottom: 0;
  }

  .playlist__item:last-child{
    margin-bottom: 0;
  }

  #radio{
    padding-top: 54px;
  }

  .radio__container{
    flex-wrap: wrap;
  }

  .radio__img{
    width: 100%;
    height: 474px;
    background-size: 540px 474px;
    margin-bottom: 51px;
  }

  .radio__img img{
    padding: 0;
    width: 29.5%;
  }

  .radio__block{
    width: 100%;
  }

  .radio__title{
    width: 70%;
    margin-bottom: 17px;
  }

  .radio__wave{
    height: 14px;
  }

  #we{
    padding-bottom: 91px;
  }

  .we__top-block{
    flex-wrap: wrap;
  }

  .we__text-block{
    width: 100%;
    margin-right: 0;
  }

  .we__figure-one{
    height: 112px;
    background-image: url('../img/zavitulka.svg');
    background-size: contain;
    display: block;
    width: 107%;
    margin-left: -150px;
    margin-right: 0;
  }

  .we__figure-two{
    height: 112px;
    width: 112px;
    background-size: 112px;
    margin-bottom: 31px;
  }

  .we__mid-block{
    width: 670px;
    margin-bottom: 31px;
  }

  .we__content{
    width: 540px;
  }

  .we__item {
    width: 255px;
  }

  .swiper-button-next{
    top: 36%;
  }

  .swiper-button-prev{
    top: 36%;
  }

  .we__label textarea{
    width: 540px;
    margin-bottom: 24px;
  }

  .we__form input{
    width: 100%;
  }

  .footer{
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
  }

  .footer__left-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 77px;
  }

  .footer__logo{
    margin-bottom: 23px;
  }

  .footer__social-links{
    width: 90%;
  }

  .footer__soc-link svg{
    width: 30px;
    height: 30px;
  }

  .footer__list{
    width: 540px;
    justify-content: space-between;
  }

  .footer__list .footer__item{
    margin: 0;
  }

  .footer__s-item:not(:last-child){
    margin-bottom: 27px;
  }

  .wave{
    padding-top: 25px;
    background-size: 250%  50%;
  }
}

@media (max-width: 710px){

  .container{
    max-width: 256px;
  }

  .title{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .header{
    position: relative;
    height: 50px;
  }

  .header__top-block{
    height: 50px;
  }

  .header-logo__block{
    height: 54px;
  }

  .header-logo__con{
    position: relative;
    max-width: 256px;
  }

  .header-logo__logo{
    width: 87px;
    height: 10px;
  }

  .header__block{
    position: static;
  }

  .header__enter{
    position: absolute;
    top: -45px;
    right: 0;
    width: 87px;
    height: 35px;
  }

  .header__search{
    margin-right: 0;
  }

  .header__nav{
    position: absolute;
    left: auto;
    top: 54px;
    min-width: 320px;
    width: 320px;
    height: 225px;
    z-index: 2000;
    padding: 61px 33px 24px 27px;
    background-color: #D2D5DD;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-128%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    justify-content: flex-start;
  }

  .header-bot__nav{
    position: absolute;
    left: auto;
    top: 279px;
    display: flex;
    min-width: 320px;
    width: 320px;
    height: 168px;
    z-index: 2000;
    padding: 30px 27px;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-128%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    justify-content: flex-start;
    margin-right: 0;
  }

  .header__nav--active{
    visibility: visible;
    transform: none;
  }

  .header__nav-zav1{
    display: none;
  }

  .header__nav-zav2{
    display: none;
  }

  .header__item:first-child{
    margin-right: 38px;
  }

  .header__item:not(:nth-child(3n)){
    margin-bottom: 40px;
  }

  .header__item:nth-child(4n){
    padding-top: 30px;
  }

  .header__item:last-child{
    margin-bottom: 25px;
  }

  .header-bot{
    height: 45px;
  }

  .header-bot__list{
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
  }

  .header-bot__item:first-child{
    margin-right: 69px;
  }

  .header-bot__item:not(:nth-child(3n)){
    margin-bottom: 24px;
  }

  .hero__row{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .hero__descr{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  .hero__btn{
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  #podcast{
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .podcast__title{
    margin-bottom: 20px;
  }

  .podcast__blog{
    flex-wrap: wrap;
    height: 185px;
  }

  .podcast__blog picture{
    height: 72px;
  }

  .podcast__blog img{
    width: 100%;
    height: 72px;
  }

  .podcast__block{
    height: 113px;
  }

  .podcast__block-top{
    padding: 16px;
  }

  .podcast__name-music{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .podcast__name{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .podcast__play{
    top: 22%;
  }

  .podcast__pause{
    top: 22%;
  }

  .podcast__date{
    top: -2px;
  }

  .podcast__list{
    margin-bottom: 0;
  }

  .podcast__item:nth-child(n + 5) {
    display: none;
  }

  .podcast__item--active{
    display: block !important;
  }

  .podcast__btn{
    width: 170px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .more__auditions{
    width: 78%;
  }

  .more__one{
    padding-top: 0;
    margin-top: -2px;
  }

  .more__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  #broadcast{
    padding-top: 54px;
    padding-bottom: 25px;
  }

  .choices__inner{
    width: 256px;
  }

  .broadcast__list{
    padding-top: 0;
  }

  .broadcast__item{
    width: 113px;
    height: 149px;
  }

  .broadcast__content{
    width: 113px;
    height: 149px;
  }

  .broadcast__content img{
    height: 50px;
    width: 100%;
  }

  .broadcast__item-block{
    position: relative;
    height: 100px;
    padding: 13px 10px 7px 10px;
  }

  .broadcast__caption{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__descr{
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 0;
  }

  .broadcast__link{
    position: absolute;
    bottom: 5px;
    left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__right-block{
    padding-bottom: 171px;
  }

  .broadcast__archive{
    background-size: 77px 105px;
    background-position: left 85%;
    height: 140px;
  }

  .broadcast__descr-first{
    width: 175px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    bottom: 45px;
  }

  .broadcast__archive .broadcast__descr{
    line-height: 21px;
  }

  .broadcast__btn{
    position: absolute;
    bottom: 3%;
    left: 35%;
    width: 110px;
    height: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }

  #guests{
    padding-top: 54px;
    padding-bottom: 63px;
  }

  .guests__container{
    margin-bottom: 30px;
  }

  .guests__descr-top{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .guests__descr{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .guests__left{
    width: 256px;
  }

  .ui-accordion .ui-accordion-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }

  .ui-accordion .ui-accordion-content{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .guests__item svg{
    width: 30px;
    height: 30px;
    top: 20%;
  }

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    width: 83px;
  }

  .guests__s-list{
    min-height: 497px !important;
  }

  .guests__vs-item:not(:nth-child(4n)){
    margin-bottom: 30px;
  }

  .guests__vs-item:nth-child(8n){
    margin-bottom: 0;
  }

  .guests__bot-block{
    padding-bottom: 594px;
  }

  .guests__right-block img{
    width: 256px;
    height: 159px;
  }

  .guests__inst{
    width: 36px;
    height: 36px;
    margin-right: 17px;
  }

  .guests__meta{
    height: 36px;
    width: 36px;
    margin-right: 17px;
  }

  .guests__twitter{
    height: 36px;
    width: 36px;
  }

  .guests__name-descr{
    width: 100%;
  }

  .guests__name-link{
    padding: 9.5px 14.5px;
  }

  .playlist{
    padding-top: 54px;
    padding-bottom: 35px;
  }

  .playlist__title{
    margin-bottom: 20px;
  }

  .playlist__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 3px;
  }

  .playlist__blog{
    margin-bottom: 12px;
  }

  .playlist__list-box{
    height: 56px;
    width: 288px;
    z-index: 1500;
    overflow-x: auto;
    overflow-y: inherit;
  }

  .playlist__item-box{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    height: 35px;
    padding-top: 12px;
    color: #6D31EE;
  }

  .playlist__left-block{
    min-width: 100%;
  }

  .playlist__item-box:not(:nth-child(4n)){
    margin-bottom: 0;
  }

  .playlist__item-box:not(:last-child){
    margin-right: 15px;
  }

  .playlist__custom{
    padding: 9.5px 19.5px;
    border: 2px solid #6D31EE;
    border-radius: 77px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  .playlist__custom:active{
    background-color: #6D31EE;
    color: #fff;
  }

  .playlist__custom span{
    display: none;
  }

  .playlist__item{
    height: 159px;
  }

  .playlist__content{
    display: block;
    width: 113px;
    height: 159px;
  }

  .playlist__content .playlist__item-block{
    position: static;
  }

  .playlist__item-block{
    padding: 10px 9px;
    width: 100%;
  }

  .playlist__caption{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .playlist__item-block .playlist__descr{
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .playlist__18{
    bottom: 1.6%;
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .playlist__18 .playlist__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  #radio{
    padding-bottom: 68px;
  }

  .radio__img{
    background-size: 256px 225px;
    background-position: top;
    height: 224px;
    margin-bottom: 39px;
  }

  .radio__img img{
    width: 24.5%;
  }

  .radio__title{
    width: 100%;
    margin-bottom: 10px;
  }

  .radio__wave{
    height: 11px;
  }

  .radio__descr{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .radio__descr-2{
    line-height: 22px;
    margin-bottom: 10px;
  }

  .radio__price{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 36px;
  }

  .radio__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  #we{
    padding-top: 56px;
    padding-bottom: 52px;
  }

  .we__descr-one{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 4px;
  }

  .we__descr-two{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
  }

  .we__figure-one{
    display: none;
  }

  .we__figure-two{
    display: none;
  }

  .we__mid-block{
    width: 256px;
    height: 214px;
  }

  .we__content{
    position: absolute;
    width: 288px;
  }

  .we__item img{
    width: 113px;
    height: 113px;
  }

  .swiper-button-next{
    display: none;
  }

  .swiper-button-prev{
    display: none;
  }

  .we__label textarea{
    width: 256px;
    padding: 17px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
  }

  .we__label input{
    width: 256px;
    height: 50px;
    margin-right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .we__item img{
    margin-bottom: 7px;
  }

  .we__caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  .we__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .we__btns{
    margin-bottom: 16px;
  }

  .we__btn{
    width: 172px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .we__check span::before{
    width: 13px;
    height: 13px;
    top: -3px;
  }

  .we__check span::after{
    top: 0;
  }

  .check__span{
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }

  #footer{
    padding-top: 54px;
  }

  .footer{
    max-width: 100%;
    padding-bottom: 0;
  }

  .footer__right-block{
    background-color: #121723;
    width: 100%;
  }

  .footer__nav{
    width: 256px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .footer__list{
    width: 100%;
  }

  .footer__item-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .footer__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 103.34%;
  }

  .wave{
    padding-top: 20px;
  }
}
